/* CSS Reset */
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: invert(); */
    flex-direction: column;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;

}

#scoreBox{
    position: absolute;
    top: 5vmin;
    font-size: 39px;
    font-weight: bold;
    right: 5vmin;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

#hiscoreBox{
    position: absolute;
    top: 5vmin;
    font-size: 39px;
    font-weight: bold;
    left: 5vmin;
}

#board{
    background: linear-gradient(rgb(173, 240, 173), rgb(211, 211, 85));
    width: 90vmin;
    height: 90vmin;
    /* the min value btw vh and vw is considered as vmin */
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    box-shadow: 0px 0px 3px 3px #252121;
}
#buttons{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3vmin;
}

.btn{
    padding: 2px;
    font-size: 2.5rem;
    color: red;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #252121;
}

.upDown{
    display: flex;
    flex-direction: column;
    margin-left: 22vmin;
}
.upDown .btn{
    padding: 4px 20px;
    margin-top: 5px;
}
.leftRight .btn{
    padding: 0px 15px;
    padding-bottom: 4px;
}

.head{
    border: 2px solid purple;
    background: linear-gradient(rgb(255, 158, 158), rgb(255, 255, 169));
    transform: scale(1.1);
    border-radius: 9px;
    box-shadow: 0px 0px 3px 3px white;
}

.food{
    background: linear-gradient(purple, red);
    border: .25vmin solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 3px rgb(255, 252, 50);
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 15px;
}
@media only screen and (max-width: 600px){
    #scoreBox{
        top: 8vmin;
        font-size: 1.2rem;
    }
    #hiscoreBox{
        top: 2.4vmin;
        font-size: 1.2rem;
    }
    #board{
        margin-bottom: 2vmin;
        width: 95vmin;
        height: 95vmin;
    }
    
    #buttons{
        display: flex;
    }

    .head{
        border-radius: 3px;
    }
    .food{
        border-radius: 5px;
    }
    .snake{
        border-radius: 7px;
    } 
}


