/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background: url("../img/bg.jpg") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: invert(); */
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#scoreBox{
    position: absolute;
    top: 4.5vmin;
    font-size: 39px;
    font-weight: bold;
    right: 5vmin;
    background-color: #fdfdaa;
    padding: 4px 15px;
    border-radius: 10px;
    border: 2px solid #e8ad8a;
    box-shadow: 0px 0px 12px 5px beige;
    width: 25vw;
    text-align: center;
}

#hiscoreBox{
    position: absolute;
    top: 4.5vmin;
    font-size: 39px;
    font-weight: bold;
    left: 10vmin;
    background-color: #fdfdaa;
    padding: 4px 15px;
    border-radius: 10px;
    border: 2px solid #e8ad8a;
    box-shadow: 0px 0px 12px 5px beige;
}

#board{
    background: linear-gradient(rgb(173, 240, 173), rgba(255, 255, 255, 0.884), orange);
    width: 86vmin;
    height: 86vmin;
    /* the min value btw vh and vw is considered as vmin */
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    box-shadow: 0px 0px 8px 4px #858585;
    opacity: 0.85;
    margin-top: -3.25vh;
}
#buttons{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn{
    padding: 0px 5px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: red;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #252121;
    outline: none;
}

.upDown{
    display: flex;
    flex-direction: column;
    margin-left: 22vmin;
}
.upDown .btn{
    padding: 4px 20px;
    margin-top: 5px;
}
.leftRight .btn{
    padding: 0px 15px;
    padding-bottom: 4px;
}

.head{
    background-color: rgb(127, 187, 36);
    border-radius: 15px;
    z-index: 10;
    filter: saturate(8);
    transform: scale(1.2);
    border: 1.75px dotted black;
}

.food{
    border: 2px solid transparent;
    background: url('../img/food.png') no-repeat center center/cover;
}

.snake{
    border: .25vmin dotted black;
    border-radius: 15px;
    background: url('../img/snake.jpg') center center/cover;
    z-index: 5;
}

/* FOOTER */
#footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-shadow: none;
    color: azure;
    background-color: black;
    text-align: center;
    padding: 6px;
    border-top: 1px solid white;
}
#footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(253, 229, 197);
}
#footer a img{
    height: .8rem;
}

/* Screen size Optimization */
@media only screen and (max-width: 600px){
    .body{
        background: url("../img/mobile-bg.jpg") no-repeat center center/cover;
    }
    #scoreBox{
        top: 2.4vmin;
        font-size: 1.2rem;
        width: 38vw;
        padding: 2px 3.5px;
        border-radius: 6px;
    }
    #hiscoreBox{
        top: 2.4vmin;
        font-size: 1.2rem;
        left: 5vmin;
        padding: 2px 3.5px;
        border-radius: 6px;
    }
    #board{
        margin-bottom: 2.5vmin;
        width: 91vmin;
        height: 91vmin;
    }
    
    #buttons{
        display: flex;
    }

    .head{
        border-radius: 6px;
    }
    .food{
        border-radius: 5px;
    }
    .snake{
        border-radius: 6px;
    } 

    #footer{
        font-size: 13px;
    }
}


